doc/pwd.md
*.wav
*/*.wav
src/web/public/face/model
src/webrecord/public/wav/.keep
src/webrecord/package-lock.json
src/package-lock.json
src/webrecord/crt/local.crt
src/webrecord/crt/local.key
vue/fsr/.npmrc
src/webrecord/util/config.js
src/recorder-master

src/webrecord/pj/src/assets/logo.png
src/webrecord/pj/.npmrc
src/webrecord/pj/pnpm-lock.yaml
src/webrecord/util/config.js
src/webrecord/pj/src/App.vue
src/webrecord/pj/public/favicon.ico
src/webrecord/public/js
src/webrecord/public/css
src/webrecord/public/index.html
src/webrecord/util/config.js
src/webrecord/util/config.js
src/socket/src/js/vue-advanced-chat.umd.js
src/socket/src/js/vue-advanced-chat.es.js
src/server/test.js
.gitignore
src/server/test.js
src/server/test.js
doc/time.xlsx
doc/~$time.xlsx
